.app {
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	max-height: 100vh;
}

header {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: #338a9a;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	background-color: #EAF4F7;
}

.nav-link .fa {
	font-size: 30px;
}
