<!DOCTYPE html>
<html>
<head>
    <title>Acceso denegado</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
        <body style="background-color: #EAF4F7;">
            <div class="w3-display-middle">
                <h1 class="w3-jumbo w3-animate-top w3-center" style="color: #338a9a;"><code>🚫 Acceso denegado 🚫</code></h1>
                <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%;">
                <h3 class="w3-center w3-animate-right" style="color: #338a9a;">No tienes permiso para acceder a esta página.</h3>
                <h6 class="w3-center w3-animate-zoom" style="color: #338a9a;">Código de error: 403</h6>
            </div>
        </body>
</html>