<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clients</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <label>Cliente: <span th:text="${client.firstName}"></span></label>
        <label>Cliente: <span th:text="${client.lastName"></span></label>
        <label>Cliente: <span th:text="${client.email}"></span></label>
        <label>Cliente: <span th:text="${client.phone}"></span></label>
        <label>Cliente: <span th:text="${client.medicalObservations}"></span></label>
        <label>Cliente: <span th:text="${client.observations}"></span></label>
    </body>
</html>
