<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/5b5fa05dbf.js"></script>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div style="text-align: center;">
			<img src="/assets/logo_rect.png" class="center">
		</div>
		<div>
			<h1 class="title">CLIENTE</h1>
		</div>
	<br>
		<div class="container">
			<div class="card">
				<form method="POST" th:action="@{'/clients/update?id=' + ${client.id}}" th:object="${client}" id="clientForm" class="container">
					<br>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-text" id="addon-wrapping"><i class="fa fa-fw fa-user" aria-hidden="true"></i></span>
							<input type="text" th:field="*{firstName}" placeholder="Nombre" aria-label="Nombre" class="form-control">
							<input type="text" th:field="*{lastName}"placeholder="Apellidos" aria-label="Apellidos" class="form-control">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-text" id="addon-wrapping"><i class="fa fa-fw fa-id-card" aria-hidden="true"></i></span>
									<input type="text" th:field="*{dni}"placeholder="DNI" aria-label="DNI" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-text" id="addon-wrapping"><i class="fa fa-fw fa-birthday-cake" aria-hidden="true"></i></span>
									<input type="date" th:field="*{birthdate}" class="form-control">
								</div>
							</div>
						</div>
					</div>
				<br>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-text" id="addon-wrapping"><i class="fa fa-fw fa-venus-mars" aria-hidden="true"></i></span>
									<select th:field="*{sex}" placeholder="Sexo" class="form-select">
										<option value="M">Masculino</option>
										<option value="F">Femenino</option>
										<option value="-">Prefiere no decirlo</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-text" id="addon-wrapping"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></span>
									<input type="text" th:field="*{phone}" placeholder="Teléfono" aria-label="Teléfono" class="form-control">
								</div>
							</div>
						</div>
					</div>
				<br>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-text" id="addon-wrapping"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
							<input type="text" th:field="*{email}" placeholder="Correo" aria-label="Correo" class="form-control">
						</div>
					</div>
				<br>
					<div class="form-check form-switch">
						<input class="form-check-input" th:field="*{promos}" type="checkbox" role="switch" id="flexSwitchCheckDefault">
						<label class="form-check-label" for="flexSwitchCheckDefault">Desea recibir ofertas y promociones</label>
					</div>
				<br>
					<div class="form-group">
						<label>Observaciones médicas</label>
						<div class="input-group">
							<div class="input-group-text"><i class="fa fa-fw fa-stethoscope" aria-hidden="true"></i></div>
							<textarea class="form-control" th:field="*{medicalObservations}" rows="5" name="body"></textarea>
						</div>
					</div>
				<br>
					<div class="form-group">
						<label>Comentarios adicionales</label>
						<div class="input-group">
							<div class="input-group-text"><i class="fa fa-fw fa-comment" aria-hidden="true"></i></div>
							<textarea class="form-control" th:field="*{observations}" rows="5" name="body"></textarea>
						</div>
					</div>
				<br>
					<div class="form-group">
						<label>Consentimientos</label>
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupFile01">Upload</label>
							<input type="file" class="form-control" id="inputGroupFile01">
						</div>
					</div>
				<br>
					<div style="margin-bottom: 10px">
						<button type="submit" class="btn btn-warning">Guardar</button>
						<button type="button" class="btn btn-danger">Eliminar ficha</button>
					</div>
				</form>
			</div>
		</div>
	</body>
