<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(
	~{:: title},
	~{:: #editapp-header},
	~{:: #editapp-nav},
	~{:: #editapp-main-content},
	~{:: #editapp-footer}
	)}"
>
	<head>
		<title>Modificar cita</title>
	</head>
	<body>
		<div id="editapp-header">
			Modificar cita
		</div>
		<div id="editapp-nav" th:replace="~{/fragments/main-fragments :: nav-default}">
			Editar Cita Nav
		</div>
		<br>
		<div id="editapp-main-content" class="container">
			<div class="card">
				<div class="row">
					<div class="col-sm-10 offset-sm-1 text-center">
						<form method="post" action="#" th:action="@{'/appointments/update?id=' + ${appointment.id}}" th:object="${appointment}">
							<br>
							<div class="form-group">
								<div class="input-group justify-content-center">
									<span class="input-group-text" id="addon-wrapping">Fecha</span>
									<input type="datetime-local" th:field="*{appointmentDate}" required/>
								</div>
							</div>
							<br>
							<div class="form-floating">
								<select id="clientSelector" class="form-select" aria-labeled="clients" th:field="*{client}" required>
									<option value="" selected>Seleccione un Cliente</option>
									<option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.firstName} + ' ' + ${client.lastName}" class="dropdown-item" href="#"></option>
								</select>
								<label class="form-check-label" for="clientSelector">Client</label>
							</div>
							<br>
							<div class="form-floating">
								<select id="treatmentSelector" class="form-select" aria-labeled="treatments" th:field="*{treatment}" required>
									<option value="" selected>Seleccione un Tratamiento</option>
									<option th:each="treatment: ${treatments}" th:value="${treatment.id}" th:text="${treatment.name}" class="dropdown-item" href="#"></option>
								</select>
								<label class="form-check-label" for="clientSelector">Tratamiento</label>
							</div>
							<br>
							<div class="form-group">
								<div class="form-check form-check-inline justify-content-center">
									<input class="form-check-input" type="checkbox" value="" th:field="*{done}"/>
									<label class="form-check-label" for="flexCheckDefault">
										Realizado
									</label>
								</div>
								<div class="form-check form-check-inline justify-content-center">
									<input class="form-check-input" type="checkbox" th:field="*{paid}"/>
									<label class="form-check-label" for="flexCheckDefault">
										Pagado
									</label>
								</div>
							</div>
							<br>
							<div style="margin-bottom: 10px; text-align: center;">
								<button type="submit" class="btn btn-warning">Guardar</button>
							</div>
						</form>
					</div>
	</body>
</html>
