<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(
		~{:: title},
		~{:: #appointments-header},
		~{:: #appointments-nav},
		~{:: #appointments-main-content},
		~{:: #appointments-footer}
		)}"
	>
	<head>
		<title>Citas</title>
	</head>
	<body>
		
		<div id="appointments-header">
			Citas
		</div>
		<br>
		<div id="appointments-nav" th:replace="~{/fragments/main-fragments :: nav-default}">
			Citas Nav
		</div>

		<div id="appointments-main-content">
			<div>
				<table class="table table-success table-striped">
					<thead class="thead">
						<tr>
							<th style="text-align: center;">Fecha</th>
							<th style="text-align: center;">Realizada</th>
							<th style="text-align: center;">Pagada</th>
							<th style="text-align: center;">Acciones</th>
						</tr>
					</thead>
					<tr th:each="appointment : ${appointments}">
						<td th:text="${#temporals.format(appointment.appointmentDate)}" style="text-align: center;">Fecha</td>
						<td th:text="${appointment.done}" style="text-align: center;">Realizada</td>
						<td th:text="${appointment.paid}" style="text-align: center;">Pagada</td>
						<td style="text-align: center;">
							<a th:href="@{'/appointments/edit/' + ${appointment.id}}" id="edit" class="btn btn-secondary" role="button"><i class="fa fa-fw fa-edit" aria-hidden="true"></i></a>
							<a th:href="@{'/appointments/delete/' + ${appointment.id}}" id="delete" class="btn btn-danger" role="button"><i class="fa fa-fw fa-calendar-times" aria-hidden="true"></i></a>
						</td>
					</tr>
				</table>
				<br/>
				<div style="float: right;">
					<a href="appointments/new" id="new" class="btn btn-success" role="button"><i class="fa fa-fw fa-calendar-plus" aria-hidden="true"></i></a>
				</div>

			</div>
	</body>
</html>
