<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(
		~{:: title},
		~{:: #treatment-header},
		~{:: #treatment-nav},
		~{:: #treatment-main-content},
		~{:: #treatment-footer}
		)}"
	>
	<head>
		<title>Nuevo tratamiento</title>
	</head>
	<body>
		<div id="treatment-header">
			Nuevo tratamiento
		</div>
		<div id="treatment-nav" th:replace="~{/fragments/main-fragments :: nav-default}">
			New Treatment Nav
		</div>
		<br>
		<div id="treatment-main-content" class="container">
			<div class="card">
				<form method="POST" action="#" th:action="@{/treatments/new/save}" th:object="${treatment}" class="container">
					<br>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group justify-content-center">
									<span class="input-group-text" id="addon-wrapping">Nombre</span>
									<input class="form-control" type="text" th:field="*{name}" required />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group justify-content-center">
									<span class="input-group-text" id="addon-wrapping">Subservicio</span>
									<input class="form-control" type="text" th:field="*{subservice}"/>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group justify-content-center">
									<span class="input-group-text" id="addon-wrapping">Precio (€)</span>
									<input class="form-control" type="number" step="0.01" min="0" th:field="*{price}" required />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group justify-content-center">
									<span class="input-group-text" id="addon-wrapping">Duración (minutos)</span>
									<td><input class="form-control" type="number" th:field="*{duration}" required /></td>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div style="margin-bottom: 10px; text-align: center;">
						<button type="submit" class="btn btn-primary">Crear</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
