<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clients</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <label>Cliente: <span th:text="${client.firstName}"></span></label>
        <!--
        <td th:text="${client.id}">Id</td>
        <td th:text="${client.firstName}">Name</td>
        <td th:text="${client.lastName}">Last Name</td>
        <td th:text="${client.email}">Email</td>
        <td th:text="${client.phone}">Phone</td>
        <td th:text="${client.medicalObservations}">Medical Observations</td>
        <td th:text="${client.observations}">Observations</td>
        -->
    </body>
</html>