<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clients</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h2>List of clients</h2>
        <table>
            <tr>
                <th>Id</th> 
                <th>Name</th>
                <th>Last Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Medical Observations</th>
				<th>Observations</th>
                <th></th>
            </tr>

            <tr th:each="client : ${clients}">
                <td th:text="${client.id}">Id</td>
                <td th:text="${client.firstName}">Name</td>
                <td th:text="${client.lastName}">Last Name</td>
				<td th:text="${client.email}">Email</td>
				<td th:text="${client.phone}">Phone</td>
				<td th:text="${client.medicalObservations}">Medical Observations</td>
				<td th:text="${client.observations}">Observations</td>
                <td><a th:href="@{'/clients/client?id=' + ${client.id}}">Ir a ficha</a></td>
            </tr>
        </table>

    </body>
</html>
